nav{
    background-color: #295798;
    padding:2px;   
}
a{
    text-decoration: none;
    color:#f4f4f5 !important;
    font-size:1.2rem;
}
a:hover{
    color:#cccccc !important;
    text-decoration: none;
}
